<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>encuestas</display-name>
  <servlet>
    <servlet-name>EnviarRegistro</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.EnviarRegistro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnviarRegistro</servlet-name>
    <url-pattern>/EnviarRegistro</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogInEIA</display-name>
    <servlet-name>LogInEIA</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.LogInEIA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInEIA</servlet-name>
    <url-pattern>/LogInEIA?Key=value</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAuthentication</display-name>
    <servlet-name>UserAuthentication</servlet-name>
    <servlet-class>ws.synopsis.surveys.auth.UserAuthentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthentication</servlet-name>
    <url-pattern>/UserAuthentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostgresDBUtil</display-name>
    <servlet-name>PostgresDBUtil</servlet-name>
    <servlet-class>ws.synopsis.surveys.utils.PostgresDBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostgresDBUtil</servlet-name>
    <url-pattern>/PostgresDBUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAuthenticationI</display-name>
    <servlet-name>UserAuthenticationI</servlet-name>
    <servlet-class>ws.synopsis.surveys.auth.UserAuthenticationI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthenticationI</servlet-name>
    <url-pattern>/UserAuthenticationI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Estudiante</display-name>
    <servlet-name>Estudiante</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.Estudiante</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Estudiante</servlet-name>
    <url-pattern>/Estudiante</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserType</display-name>
    <servlet-name>UserType</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.UserType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserType</servlet-name>
    <url-pattern>/UserType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EstudianteDB</display-name>
    <servlet-name>EstudianteDB</servlet-name>
    <servlet-class>ws.synopsis.surveys.utils.EstudianteDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EstudianteDB</servlet-name>
    <url-pattern>/EstudianteDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HashingUtil</display-name>
    <servlet-name>HashingUtil</servlet-name>
    <servlet-class>ws.synopsis.surveys.utils.HashingUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HashingUtil</servlet-name>
    <url-pattern>/HashingUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstructorDB</display-name>
    <servlet-name>InstructorDB</servlet-name>
    <servlet-class>ws.synopsis.surveys.utils.InstructorDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstructorDB</servlet-name>
    <url-pattern>/InstructorDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Instructor</display-name>
    <servlet-name>Instructor</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.Instructor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Instructor</servlet-name>
    <url-pattern>/Instructor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDB</display-name>
    <servlet-name>AdminDB</servlet-name>
    <servlet-class>ws.synopsis.surveys.utils.AdminDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDB</servlet-name>
    <url-pattern>/AdminDB</url-pattern>
  </servlet-mapping>
</web-app>