<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>encuestas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertEstudiante</display-name>
    <servlet-name>InsertEstudiante</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.InsertEstudiante</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEstudiante</servlet-name>
    <url-pattern>/InsertEstudiante</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertInstructor</display-name>
    <servlet-name>InsertInstructor</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.InsertInstructor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertInstructor</servlet-name>
    <url-pattern>/InsertInstructor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Coffeeinsert</display-name>
    <servlet-name>Coffeeinsert</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.Coffeeinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Coffeeinsert</servlet-name>
    <url-pattern>/Coffeeinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redinsert</display-name>
    <servlet-name>Redinsert</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.Redinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redinsert</servlet-name>
    <url-pattern>/Redinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserType</display-name>
    <servlet-name>UserType</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.UserType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserType</servlet-name>
    <url-pattern>/UserType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MergeEstudiante</display-name>
    <servlet-name>MergeEstudiante</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.MergeEstudiante</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MergeEstudiante</servlet-name>
    <url-pattern>/MergeEstudiante</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCurso</display-name>
    <servlet-name>InsertCurso</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.InsertCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCurso</servlet-name>
    <url-pattern>/InsertCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>CursoNuevo</servlet-name>
    <jsp-file>/CursoNuevo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoNuevo</servlet-name>
    <url-pattern>/CursoNuevo.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAdmin</display-name>
    <servlet-name>InsertAdmin</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.InsertAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAdmin</servlet-name>
    <url-pattern>/InsertAdmin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>loginFilter</display-name>
    <filter-name>loginFilter</filter-name>
    <filter-class>ws.synopsis.surveys.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/login/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>