<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>encuestas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Coffeeinsert</display-name>
    <servlet-name>Coffeeinsert</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.Coffeeinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Coffeeinsert</servlet-name>
    <url-pattern>/Coffeeinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redinsert</display-name>
    <servlet-name>Redinsert</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.Redinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redinsert</servlet-name>
    <url-pattern>/Redinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>CosaNueva</servlet-name>
    <jsp-file>/CosaNueva.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CosaNueva</servlet-name>
    <url-pattern>/CosaNueva.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>loginFilter</display-name>
    <filter-name>loginFilter</filter-name>
    <filter-class>ws.synopsis.surveys.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/login/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInsert</display-name>
    <servlet-name>AdminInsert</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.AdminInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsert</servlet-name>
    <url-pattern>/AdminInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminView</display-name>
    <servlet-name>AdminView</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.AdminView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminView</servlet-name>
    <url-pattern>/AdminView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AdminRespuestas</servlet-name>
    <jsp-file>/AdminRespuestas.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRespuestas</servlet-name>
    <url-pattern>/AdminRespuestas.jsp</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <servlet-name>stuDash</servlet-name>
    <jsp-file>/login/stuDash.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>stuDash</servlet-name>
    <url-pattern>/stuDash.jsp</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <display-name>Assign</display-name>
    <servlet-name>Assign</servlet-name>
    <servlet-class>ws.synopsis.surveys.servlets.Assign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assign</servlet-name>
    <url-pattern>/Assign</url-pattern>
  </servlet-mapping>
  
</web-app>